<div>
    <table id="returnReason">
        <thead style="border:1px solid black;background-color: cadetblue;color:white;">
            <tr>
                <th style="text-align:center"><b>Code</b></th>
                <th style="text-align:center"><b>Description</b></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
