@{
    ViewBag.Title = "NotFound";
}

<div style="padding:60px;">
    <h3 align="center" style="color:Tomato;">
        Internal Error!!!...
    </h3>
    <h4>
        Sorry, the server encountered an unexpected condition that prevented it from fulfilling the request......
    </h4>
    <h6>@Html.ActionLink("Go Back To Login Page", "LoginiBAS", "Home")</h6>
    <br />
    <br />
</div>



