
<div class="row" style="border-bottom-left-radius: 16px;border-bottom-right-radius: 16px;border:2px solid black; " hidden>
    <div class="col-sm-12" style="background-color:cadetblue;height: 23px">
        <label style="color:white;font-size: 15px">
            Teller Account Details
        </label>   
    </div>
    <div class="col-sm-12" style="height: 17px;">
        <div class="col-sm-3">
           <label>SOL ID</label> 
        </div>
        <div class="col-sm-3">
            <label id="brsolid">2019
            </label>
        </div>
        <div class="col-sm-3">
            <label>ACCOUNT NO</label> 
        </div>
        <div class="col-sm-3">
            <label id="telleraccno">
                20190161011001
            </label>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-3">
            <label>CURRENCY</label>   
        </div>
        <div class="col-sm-3">
            <label>
               INR
            </label>
        </div>
        <div class="col-sm-3">
            <label> ACCOUNT BALANCE</label>  
        </div>
        <div class="col-sm-3">
            <label>
                2019
            </label>
        </div>
    </div>
</div>