
@{
    ViewBag.Title = "DISelectionPage";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

@using (Html.BeginForm("DISelectionPage", "CI_DI_Form"))
{
    <div class="row mb-3">
        <div class="col">
            <div class="card bg-50 shadow-none border" style="width: fit-content;margin: 0 auto;">
                <div class="row">
                    <div class="col-sm-auto d-flex align-items-center">
                        <img class="ms-n2" src="~/assets/images/crm-bar-chart.png" alt="" width="90" />
                        <div>
                            <h6 class="text-primary fs--1 mb-0">Welcome to </h6>
                            <h4 class="text-primary fw-bold mb-0"><span class="text-info fw-medium"> Debit Intimation</span></h4>
                        </div><img class="ms-n4 d-md-none d-lg-block" src="~/assets/images/crm-line-chart.png" alt="" width="150" />
                    </div>
                    <div class="col-md-auto m-3">
                        <form>
                            <div class="row align-items-center g-3">
                                <div class="col-auto">
                                    <h5 class="text-700 mb-0">Scanning Type</h5>
                                </div>
                                <div class="col-md-auto position-relative">
                                    @Html.DropDownList("Scanning_Type", new List<SelectListItem>
                               {
                                   new SelectListItem{ Text = "DI with Cash", Value = "1" },
                                   new SelectListItem{ Text = "DI with Slip", Value = "2" },
                                   new SelectListItem{ Text = "DI with CI", Value = "3" },
                               })
                                  
                                </div>
                                <div class="col">
                                    <button class="btn btn-info" type="submit" value="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<div class="row col-12 mb-3 my-0">
        <div class="text-center">
            <h3 class="mb-0 text-primary ">
                <span class="bg-200 dark__bg-1100">Debit Intimation Selection </span>
            </h3>
        </div>
    </div>*@
@*<div class="row justify-content-center mb-3">
        @using (Html.BeginForm("DISelectionPage", "CI_DI_Form"))
        {
            <div class="row justify-content-center mb-3">
                <div class="col-xxl-4 col-lg-5 col-md-12 col-sm-12">
                    <div class="card px-3 py-2">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-12" style="text-align: center;">
                                    <label style="font-size:15px;"><b>Scanning Type</b></label>
                                </div>
                                <div class="col-sm-12" style="text-align: center;">
                                    @Html.DropDownList("Scanning_Type", new List<SelectListItem>
                                    {
                                       new SelectListItem{ Text = "DI with Cash", Value = "1" },
                                       new SelectListItem{ Text = "DI with Slip", Value = "2" },
                                       new SelectListItem{ Text = "DI with CI", Value = "3" },
                                    })
                                </div>
                            </div>

                            <br />

                            <div class="form-group">
                                <div class="col-sm-12" style="text-align: center;">
                                    <button class="btn btn-info" type="submit" value="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Submit
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        }
    </div>*@


<script type="text/javascript">
    $(document).ready(function () {
        $("#ProcessingBar").hide();
    });
</script>

