<div style="margin-left:.5%;background-color:white" class="tablecontainer" id="draggablediv">
    <br /><br /><br />
    <table id="myDatatable" class="table table-bordered table-striped table-hover" style="width:100%">
        <thead>
            <tr>
                <th>cashin_Total_Amount</th>
                <th>cashout_Total_Amount</th>
                <th>Total_Count</th>
                <th>Total_Updated</th>
                <th>Total_NotUpdated</th>
               

            </tr>
        </thead>
    </table>

</div>