@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins',sans-serif;
        }

        body {
            /*background: #1abc9c;*/
            overflow: hidden;
        }

        ::selection {
            background: rgba(26,188,156,0.3);
        }

        .container {
            max-width: 440px;
            padding: 0 20px;
            margin: 170px auto;
        }

        .wrapper {
            width: 100%;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
        }

            .wrapper .title {
                height: 90px;
                background: #AE275F;
                border-radius: 5px 5px 0 0;
                color: #fff;
                font-size: 30px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .wrapper form {
                padding: 30px 25px 25px 25px;
            }

                .wrapper form .row {
                    height: 45px;
                    margin-bottom: 15px;
                    position: relative;
                }

                    .wrapper form .row input {
                        height: 100%;
                        width: 100%;
                        outline: none;
                        padding-left: 60px;
                        border-radius: 5px;
                        border: 1px solid lightgrey;
                        font-size: 16px;
                        transition: all 0.3s ease;
                    }

        form .row input:focus {
            border-color: #AE275F;
            box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
        }

        form .row input::placeholder {
            color: #999;
        }

        .wrapper form .row i {
            position: absolute;
            width: 47px;
            height: 100%;
            color: #fff;
            font-size: 18px;
            background: #AE275F;
            border: 1px solid #AE275F;
            border-radius: 5px 0 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .wrapper form .pass {
            margin: -8px 0 20px 0;
        }

            .wrapper form .pass a {
                color: #AE275F;
                font-size: 17px;
                text-decoration: none;
            }

                .wrapper form .pass a:hover {
                    text-decoration: underline;
                }

        .wrapper form .button input {
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            padding-left: 0px;
            background: #AE275F;
            border: 1px solid #AE275F;
            cursor: pointer;
        }

        form .button input:hover {
            background: #EB1165;
        }

        .wrapper form .signup-link {
            text-align: center;
            margin-top: 20px;
            font-size: 17px;
        }

            .wrapper form .signup-link a {
                color: #;
                text-decoration: none;
            }

        form .signup-link a:hover {
            text-decoration: underline;
        }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Login Form | CodingLab</title> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Registration Form</span></div>
            <form action="~/home/Register">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="text" id="username" placeholder="Username" required>
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="password" placeholder="Password" required>
                </div>
                <div class="row button">
                    <input type="submit" value="Register" id="RegisterUser" onclick="RegisterUser();">
                </div>
                <div class="signup-link">Already Registered !!! <a href="~/home/Login">Login</a></div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
    var rooturl = '@Url.Content("~/")'

    function RegisterUser() {
        debugger;
       // event.preventDefault();
        var ProcessType = "registeruser";
        var credentials = {
            username: document.getElementById("username").value,
            password: document.getElementById("password").value
        };

        var x = '@ViewBag.URL';
        var y = "RegisterUser";
        $.ajax({
            type: 'POST',
            url:x+y,
            data: { pType: ProcessType, user_id: credentials.username, user_pass: credentials.password },
           // //crossDomain: true,
            success: callbackFunction,
            error:errorResponse

        });
    }

    function callbackFunction(result) {
        debugger;
        if (result==0)
        {
            alert("This user name is already registered.");
        }
        else
        {
            alert("User registered successfully.");
        }

        window.location = rooturl + "home/Login";
    }
    function errorResponse(result)
    {
        alert(result.responseText);
    }

    //------------------added by me--------------------------------------------------

    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: rooturl + "Home/ValidateSession",
            data: {},
            datatype: "json",
            success: function (data) {
                if (data == "False") {
                    window.location = rooturl + "Home/LoginiBAS";
                }
            }
        });
    });


    //------------------------------- by me----------------------------------------------------------
    </script>

</body>
</html>






